body{
font-size: 18px;
}

.container {			margin: 50px auto;
			padding: 70px;
			background-color: #e8e6e6;
			border-radius: 10px;
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);}		

#map1, #map2, #map3, #map4, #map5 {
      height: 200px;
      width: auto;
      margin: auto;
      border-radius: 20px;
    }			